<!-- NAVBAR -->
<nav class="navbar bg-light navbar-light navbar-expand-sm ">

    <a href="#" class="navbar-brand ps-5"><img src="~/img/HBE.png" style="max-width: 165px;" alt=""></a>

    <!-- pencere küçülünce collapsible (TOGGLE'DA SIKINTI VAR AW)-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsible -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav me-auto">
            <!-- filmleri listelicek ayrı bir sayfada -->
            <li class="nav-item ps-5">
                <a href="#" class="nav-link">All Films</a>
            </li>
            <!-- sinema salonlarını listelicek ayrı bir sayfada -->
            <li class="nav-item ps-5">
                <a href="#" class="nav-link">Cinema Halls</a>
            </li>

        </ul>
        <form class="me-5">
            <input class="form-control" type="text" placeholder="Search Movie" title="Search Now!">
        </form>

        <nav class="navbar-nav me-5">
            <!-- profile'e gitcek -->
            <a  href="#" class="nav-link me-5">Profile</a>
            <a style="text-decoration: none;" asp-controller="Home" asp-action="Login">
                <p class="nav-link me-5" id="logout" >Logout</p>
            </a>

        </nav>
    </div>
</nav>
<!-- NAVBAR -->