USE [master]
GO
/****** Object:  Database [movie_database]    Script Date: 3.01.2022 21:05:06 ******/
CREATE DATABASE [movie_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movie_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\movie_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movie_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\movie_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movie_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movie_database]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE](
	[movieId] [int] IDENTITY(1,1) NOT NULL,
	[movieName] [varchar](100) NOT NULL,
	[moviereleaseDate] [varchar](10) NOT NULL,
	[movieDuration] [int] NOT NULL,
	[movieTrailerUrl] [varchar](150) NOT NULL,
	[movieSummary] [varchar](2000) NOT NULL,
	[movieDirectorId] [int] NOT NULL,
	[ısShowing] [bit] NOT NULL,
	[moviePhotoUrl] [varchar](300) NOT NULL,
	[moviePosterUrl] [varchar](300) NOT NULL,
 CONSTRAINT [PK__MOVIE__42EB374EF130EA4F] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_HAS_CATEGORIES]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_HAS_CATEGORIES](
	[movieId] [int] NULL,
	[categoryId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MOVIE_AND_CATEGORY]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MOVIE_AND_CATEGORY]
AS
SELECT dbo.MOVIE_HAS_CATEGORIES.categoryId, dbo.CATEGORY.categoryName, dbo.MOVIE.*
FROM     dbo.CATEGORY INNER JOIN
                  dbo.MOVIE_HAS_CATEGORIES ON dbo.CATEGORY.categoryId = dbo.MOVIE_HAS_CATEGORIES.categoryId INNER JOIN
                  dbo.MOVIE ON dbo.MOVIE_HAS_CATEGORIES.movieId = dbo.MOVIE.movieId
GO
/****** Object:  Table [dbo].[ACTOR]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTOR](
	[actorId] [int] IDENTITY(1,1) NOT NULL,
	[actorName] [varchar](50) NOT NULL,
	[actorSurname] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ACTOR__8332510B18AB53FF] PRIMARY KEY CLUSTERED 
(
	[actorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_HAS_ACTORS]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_HAS_ACTORS](
	[actorId] [int] NULL,
	[movieId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MOVIE_AND_ACTOR]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MOVIE_AND_ACTOR]
AS
SELECT dbo.ACTOR.*, dbo.MOVIE_HAS_ACTORS.movieId, dbo.MOVIE.movieName
FROM     dbo.ACTOR INNER JOIN
                  dbo.MOVIE_HAS_ACTORS ON dbo.ACTOR.actorId = dbo.MOVIE_HAS_ACTORS.actorId INNER JOIN
                  dbo.MOVIE ON dbo.MOVIE_HAS_ACTORS.movieId = dbo.MOVIE.movieId
GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[sessionId] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [int] NULL,
	[cinemahallId] [int] NULL,
	[time] [varchar](50) NOT NULL,
	[price] [int] NULL,
 CONSTRAINT [PK__SESSION__23DB122B22A34CA4] PRIMARY KEY CLUSTERED 
(
	[sessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ticketId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[seatId] [int] NULL,
 CONSTRAINT [PK__TICKET__3333C610CF698CD1] PRIMARY KEY CLUSTERED 
(
	[ticketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TICKET_SESSION]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TICKET_SESSION]
AS
SELECT dbo.SESSION.sessionId, dbo.SESSION.movieId, dbo.SESSION.cinemahallId, dbo.SESSION.time, dbo.SESSION.price
FROM     dbo.SESSION INNER JOIN
                  dbo.TICKET ON dbo.SESSION.sessionId = dbo.TICKET.sessionId
GO
/****** Object:  Table [dbo].[CINEMA_HALL]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINEMA_HALL](
	[cinemaHallId] [int] IDENTITY(1,1) NOT NULL,
	[cinemaHallName] [varchar](30) NOT NULL,
	[amountOfSeats] [int] NOT NULL,
	[cinemaHallAddress] [varchar](200) NULL,
 CONSTRAINT [PK__CINEMA_H__5A5F5DB97B34DD61] PRIMARY KEY CLUSTERED 
(
	[cinemaHallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[commentId] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[commentContent] [varchar](2000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[firstName] [varchar](20) NOT NULL,
	[lastName] [varchar](20) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[birthDate] [varchar](20) NOT NULL,
	[phone] [varchar](10) NOT NULL,
 CONSTRAINT [PK__CUSTOMER__CB9A1CFFFA5EBA95] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTOR]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTOR](
	[directorId] [int] IDENTITY(1,1) NOT NULL,
	[directorName] [varchar](20) NOT NULL,
	[directorSurname] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[directorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIES_WATCHED]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES_WATCHED](
	[userId] [int] NOT NULL,
	[movieId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT](
	[seatId] [int] IDENTITY(1,1) NOT NULL,
	[seatNumber] [int] NOT NULL,
	[sessionId] [int] NOT NULL,
	[isAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_SEAT] PRIMARY KEY CLUSTERED 
(
	[seatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTOR] ON 

INSERT [dbo].[ACTOR] ([actorId], [actorName], [actorSurname]) VALUES (1, N'Tom', N'Holland')
INSERT [dbo].[ACTOR] ([actorId], [actorName], [actorSurname]) VALUES (2, N'Zendaya', N'Coleman')
INSERT [dbo].[ACTOR] ([actorId], [actorName], [actorSurname]) VALUES (3, N'Benedict', N'Cumberbatch')
SET IDENTITY_INSERT [dbo].[ACTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([categoryId], [categoryName]) VALUES (1, N'Action')
INSERT [dbo].[CATEGORY] ([categoryId], [categoryName]) VALUES (2, N'Adventure')
INSERT [dbo].[CATEGORY] ([categoryId], [categoryName]) VALUES (3, N'Fantasy')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[CINEMA_HALL] ON 

INSERT [dbo].[CINEMA_HALL] ([cinemaHallId], [cinemaHallName], [amountOfSeats], [cinemaHallAddress]) VALUES (1, N'HBE Optimum İzmir', 15, N'Binbaşı Reşatbey Mah., Akçay Cd. No:101, 35410 Gaziemir/İzmir')
INSERT [dbo].[CINEMA_HALL] ([cinemaHallId], [cinemaHallName], [amountOfSeats], [cinemaHallAddress]) VALUES (3, N'HBE Gebze Center', 20, N'Tatlıkuyu Mah., Gebze Center, 41400 Gebze/Kocaeli')
INSERT [dbo].[CINEMA_HALL] ([cinemaHallId], [cinemaHallName], [amountOfSeats], [cinemaHallAddress]) VALUES (4, N'HBE Yaylada Avm', 30, N'Paşaalanı Mah., Bandırma Cd. No: 74 Karesi / Balıkesir')
SET IDENTITY_INSERT [dbo].[CINEMA_HALL] OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENTS] ON 

INSERT [dbo].[COMMENTS] ([commentId], [movieId], [userId], [commentContent]) VALUES (1, 1, 1, N'perfect')
INSERT [dbo].[COMMENTS] ([commentId], [movieId], [userId], [commentContent]) VALUES (3, 9, 1, N'GOOD!')
INSERT [dbo].[COMMENTS] ([commentId], [movieId], [userId], [commentContent]) VALUES (7, 4, 1, N'çok beyendşim')
SET IDENTITY_INSERT [dbo].[COMMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([userId], [password], [firstName], [lastName], [email], [birthDate], [phone]) VALUES (1, N'halo', N'halil', N'akpınar', N'hknr@gmail.com', N'2021-12-02', N'5551522332')
INSERT [dbo].[CUSTOMER] ([userId], [password], [firstName], [lastName], [email], [birthDate], [phone]) VALUES (3, N'asdasdasd', N'mahmut', N'abi', N'asd@gmail.com', N'2021-12-15', N'5551522332')
INSERT [dbo].[CUSTOMER] ([userId], [password], [firstName], [lastName], [email], [birthDate], [phone]) VALUES (4, N'ekin', N'ekin', N'kısabaz', N'ekinkisabas@gmail.com', N'2021-12-02', N'5551522332')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[DIRECTOR] ON 

INSERT [dbo].[DIRECTOR] ([directorId], [directorName], [directorSurname]) VALUES (1, N'Jon', N'Watts')
INSERT [dbo].[DIRECTOR] ([directorId], [directorName], [directorSurname]) VALUES (2, N'Dennis', N'Villeneuve')
INSERT [dbo].[DIRECTOR] ([directorId], [directorName], [directorSurname]) VALUES (3, N'Christopher', N'Nolan')
SET IDENTITY_INSERT [dbo].[DIRECTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIE] ON 

SET IDENTITY_INSERT [dbo].[MOVIE] OFF
GO
INSERT [dbo].[MOVIE_HAS_ACTORS] ([actorId], [movieId]) VALUES (1, 1)
INSERT [dbo].[MOVIE_HAS_ACTORS] ([actorId], [movieId]) VALUES (2, 1)
INSERT [dbo].[MOVIE_HAS_ACTORS] ([actorId], [movieId]) VALUES (3, 1)
GO
INSERT [dbo].[MOVIE_HAS_CATEGORIES] ([movieId], [categoryId]) VALUES (1, 1)
INSERT [dbo].[MOVIE_HAS_CATEGORIES] ([movieId], [categoryId]) VALUES (5, 5)
INSERT [dbo].[MOVIE_HAS_CATEGORIES] ([movieId], [categoryId]) VALUES (3, 5)
GO
INSERT [dbo].[MOVIES_WATCHED] ([userId], [movieId]) VALUES (1, 1)
INSERT [dbo].[MOVIES_WATCHED] ([userId], [movieId]) VALUES (1, 3)
INSERT [dbo].[MOVIES_WATCHED] ([userId], [movieId]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[SEAT] ON 

INSERT [dbo].[SEAT] ([seatId], [seatNumber], [sessionId], [isAvailable]) VALUES (241, 1, 49, 1)
INSERT [dbo].[SEAT] ([seatId], [seatNumber], [sessionId], [isAvailable]) VALUES (242, 2, 49, 1)
INSERT [dbo].[SEAT] ([seatId], [seatNumber], [sessionId], [isAvailable]) VALUES (243, 3, 49, 1)
GO
SET IDENTITY_INSERT [dbo].[SEAT] OFF
GO
SET IDENTITY_INSERT [dbo].[SESSION] ON 

INSERT [dbo].[SESSION] ([sessionId], [movieId], [cinemahallId], [time], [price]) VALUES (49, 1, 1, N'2022-01-01T12:00', 30)
INSERT [dbo].[SESSION] ([sessionId], [movieId], [cinemahallId], [time], [price]) VALUES (50, 4, 3, N'2022-01-01T00:00', 35)
INSERT [dbo].[SESSION] ([sessionId], [movieId], [cinemahallId], [time], [price]) VALUES (51, 13, 3, N'2022-01-05T10:00', 25)
SET IDENTITY_INSERT [dbo].[SESSION] OFF
GO
SET IDENTITY_INSERT [dbo].[TICKET] ON 

INSERT [dbo].[TICKET] ([ticketId], [userId], [sessionId], [seatId]) VALUES (10, 1, 50, 263)
INSERT [dbo].[TICKET] ([ticketId], [userId], [sessionId], [seatId]) VALUES (11, 1, 49, 249)
INSERT [dbo].[TICKET] ([ticketId], [userId], [sessionId], [seatId]) VALUES (12, 6, 51, 292)
SET IDENTITY_INSERT [dbo].[TICKET] OFF
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENT__movieI__656C112C] FOREIGN KEY([movieId])
REFERENCES [dbo].[MOVIE] ([movieId])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK__COMMENT__movieI__656C112C]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK__COMMENT__userId__3A81B327] FOREIGN KEY([userId])
REFERENCES [dbo].[CUSTOMER] ([userId])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK__COMMENT__userId__3A81B327]
GO
ALTER TABLE [dbo].[MOVIE]  WITH CHECK ADD  CONSTRAINT [FK__MOVIE__movieDire__4CA06362] FOREIGN KEY([movieDirectorId])
REFERENCES [dbo].[DIRECTOR] ([directorId])
GO
ALTER TABLE [dbo].[MOVIE] CHECK CONSTRAINT [FK__MOVIE__movieDire__4CA06362]
GO
ALTER TABLE [dbo].[MOVIE_HAS_ACTORS]  WITH CHECK ADD  CONSTRAINT [FK__MOVIE_HAS__actor__3D5E1FD2] FOREIGN KEY([actorId])
REFERENCES [dbo].[ACTOR] ([actorId])
GO
ALTER TABLE [dbo].[MOVIE_HAS_ACTORS] CHECK CONSTRAINT [FK__MOVIE_HAS__actor__3D5E1FD2]
GO
ALTER TABLE [dbo].[MOVIE_HAS_ACTORS]  WITH CHECK ADD  CONSTRAINT [FK__MOVIE_HAS__movie__534D60F1] FOREIGN KEY([movieId])
REFERENCES [dbo].[MOVIE] ([movieId])
GO
ALTER TABLE [dbo].[MOVIE_HAS_ACTORS] CHECK CONSTRAINT [FK__MOVIE_HAS__movie__534D60F1]
GO
ALTER TABLE [dbo].[MOVIE_HAS_CATEGORIES]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[CATEGORY] ([categoryId])
GO
ALTER TABLE [dbo].[MOVIE_HAS_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK__MOVIE_HAS__movie__5535A963] FOREIGN KEY([movieId])
REFERENCES [dbo].[MOVIE] ([movieId])
GO
ALTER TABLE [dbo].[MOVIE_HAS_CATEGORIES] CHECK CONSTRAINT [FK__MOVIE_HAS__movie__5535A963]
GO
ALTER TABLE [dbo].[MOVIES_WATCHED]  WITH CHECK ADD  CONSTRAINT [FK__MOVIES_WA__movie__6383C8BA] FOREIGN KEY([movieId])
REFERENCES [dbo].[MOVIE] ([movieId])
GO
ALTER TABLE [dbo].[MOVIES_WATCHED] CHECK CONSTRAINT [FK__MOVIES_WA__movie__6383C8BA]
GO
ALTER TABLE [dbo].[MOVIES_WATCHED]  WITH CHECK ADD  CONSTRAINT [FK__MOVIES_WA__userI__412EB0B6] FOREIGN KEY([userId])
REFERENCES [dbo].[CUSTOMER] ([userId])
GO
ALTER TABLE [dbo].[MOVIES_WATCHED] CHECK CONSTRAINT [FK__MOVIES_WA__userI__412EB0B6]
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD  CONSTRAINT [FK_SEAT_SESSION] FOREIGN KEY([sessionId])
REFERENCES [dbo].[SESSION] ([sessionId])
GO
ALTER TABLE [dbo].[SEAT] CHECK CONSTRAINT [FK_SEAT_SESSION]
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD  CONSTRAINT [FK__SESSION__cinemah__4316F928] FOREIGN KEY([cinemahallId])
REFERENCES [dbo].[CINEMA_HALL] ([cinemaHallId])
GO
ALTER TABLE [dbo].[SESSION] CHECK CONSTRAINT [FK__SESSION__cinemah__4316F928]
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD  CONSTRAINT [FK__SESSION__movieId__5DCAEF64] FOREIGN KEY([movieId])
REFERENCES [dbo].[MOVIE] ([movieId])
GO
ALTER TABLE [dbo].[SESSION] CHECK CONSTRAINT [FK__SESSION__movieId__5DCAEF64]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK__TICKET__sessionI__44FF419A] FOREIGN KEY([sessionId])
REFERENCES [dbo].[SESSION] ([sessionId])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK__TICKET__sessionI__44FF419A]
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD  CONSTRAINT [FK__TICKET__userId__45F365D3] FOREIGN KEY([userId])
REFERENCES [dbo].[CUSTOMER] ([userId])
GO
ALTER TABLE [dbo].[TICKET] CHECK CONSTRAINT [FK__TICKET__userId__45F365D3]
GO
/****** Object:  StoredProcedure [dbo].[getAllMovies]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllMovies]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  * FROM (SELECT MOVIE.movieId,MOVIE.movieName,MOVIE.moviereleaseDate,MOVIE.movieDuration,MOVIE.movieTrailerUrl,MOVIE.movieSummary,MOVIE.movieDirectorId,MOVIE.ısShowing,MOVIE.moviePhotoUrl,MOVIE.moviePosterUrl,T1.categoryName FROM MOVIE INNER JOIN (SELECT CATEGORY.categoryName,MOVIE_HAS_CATEGORIES.movieId FROM MOVIE_HAS_CATEGORIES INNER JOIN CATEGORY ON CATEGORY.categoryId=MOVIE_HAS_CATEGORIES.categoryId) AS T1 ON MOVIE.movieId=T1.movieId) AS T3 INNER JOIN DIRECTOR ON T3.movieDirectorId=DIRECTOR.directorId ORDER BY T3.movieId
END
GO
/****** Object:  StoredProcedure [dbo].[getMovieById]    Script Date: 3.01.2022 21:05:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMovieById]
	-- Add the parameters for the stored procedure here
	@movieId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  * FROM (SELECT MOVIE.movieId,MOVIE.movieName,MOVIE.moviereleaseDate,MOVIE.movieDuration,MOVIE.movieTrailerUrl,MOVIE.movieSummary,MOVIE.movieDirectorId,MOVIE.ısShowing,MOVIE.moviePhotoUrl,MOVIE.moviePosterUrl,T1.categoryName,T1.categoryId FROM MOVIE INNER JOIN (SELECT CATEGORY.categoryName,MOVIE_HAS_CATEGORIES.* FROM MOVIE_HAS_CATEGORIES INNER JOIN CATEGORY ON CATEGORY.categoryId=MOVIE_HAS_CATEGORIES.categoryId) AS T1 ON MOVIE.movieId=T1.movieId) AS T3 INNER JOIN DIRECTOR ON T3.movieDirectorId=DIRECTOR.directorId WHERE movieId=@movieId
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ACTOR"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MOVIE_HAS_ACTORS"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 126
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MOVIE"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 747
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3504
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MOVIE_AND_ACTOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MOVIE_AND_ACTOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CATEGORY"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MOVIE"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 505
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MOVIE_HAS_CATEGORIES"
            Begin Extent = 
               Top = 7
               Left = 553
               Bottom = 126
               Right = 747
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3552
         Alias = 900
         Table = 2364
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 768
         Or = 924
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MOVIE_AND_CATEGORY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MOVIE_AND_CATEGORY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[35] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -12
      End
      Begin Tables = 
         Begin Table = "SESSION"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TICKET"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3708
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TICKET_SESSION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TICKET_SESSION'
GO
USE [master]
GO
