<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!- HBE CINEMA HALL</title>
    <link rel="stylesheet" href="~/css/register.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/Home/Register">
                <h1>Sign up</h1>
                <input name="Name" action="/Home/Register" type="text" placeholder="Name" required />
                <input name="Surname" action="/Home/Register" type="text" placeholder="Surname" required />
                <input name="Email" action="/Home/Register" type="email" placeholder="Email" required />
                
                <input name="Password" action="/Home/Register" type="password" placeholder="Password" required />
                <input name="Date" action="/Home/Register" type="date" placeholder="Birthdate" required />
                <input name="Tel" action="/Home/Register" type="text" name="Phone" placeholder="Phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10"
                       title="Ten digits code" required /> 
                <button type="submit">Sign Up</button>
            </form>


        </div>

        <div>

        </div>



    </div>
    <a asp-controller="Home" asp-action="Login">
        <p id="haveacc" style="text-decoration: underline; ">Already have an account?</p>
    </a>

    @if (@TempData["EmailError"]!=null)
    {
        <span style="color: red; border: 2px solid red; padding:5px ; border-radius :3px;"><strong>@TempData["EmailError"]</strong></span>

    }

    


</body>

</html>